<footer>
  <p mt-6 text-sm text-slate>
      <span pr-1>Made by JIHUIDUODUO</span>
    </p>
      <img src="https://movie.jihuiduoduo.top/logo.png" alt="logo" style="margin-top: 50px;">
   
    <p mt-6 text-base text-slate>
      <span pr-1>免费不易，关注赏口饭吃🍚🧎🏻‍♂️</span>
    </p>
  </footer>
  
